@font-face {
	font-family: 'Menlo';
	src: url('./Menlo_regular.ttf');
}

@font-face {
	font-family: 'Menlo-Bold';
	src: url('./Menlo_bold.ttf');
}

@font-face {
	font-family: 'Menlo-BoldItalic';
	src: url('./Menlo_bold_italic.ttf');
}

@font-face {
	font-family: 'Menlo-Italic';
	src: url('./Menlo_italic.ttf');
}