body, html, div, span, ul, li {
	margin: 0;
	padding: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background: #222;
	color: #bfbfbf;
	font-family: 'Menlo', sans-serif;
	font-size: 11px;
}

ul.navigation {
	list-style: none;
	margin: 4px;
	border-radius: 6px;
	background: #2b2b2b;
	height: 44px;
	position: relative;
	padding: 0 13px 0 10px;
	box-sizing: border-box;
	/* WTFF????111!!!1111!! */
	display: -webkit-flex;
	-webkit-user-select: none;
}

ul.navigation:after {
	content: "";
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	height: 8px;
	left: 0;
	width: 100%;
	background-color: #222222;
	border-top: 1px solid #484848;
}

ul.navigation li {
	color: #505050;
	position: relative;
	display: inline-block;
	top: 5px;
	height: 31px;
	line-height: 34px;
	padding-left: 0;
	margin-left: 15px;
	border-top-right-radius: 3px;
	box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.05);
	-webkit-transform: skewX(30deg);
	transition: color 0.1s ease-in;
	padding-right: 24px;
	-webkit-user-drag: element;
	-webkit-flex: 1;
	max-width: 175px;
	min-width: 40px;
	border: none;
}

ul.navigation li:hover {
	color: #bfbfbf;
}

ul.navigation li:first-child {
	margin-left: 20px;
}

ul.navigation li, ul.navigation li:before {
	background: #222;
}

ul.navigation li:before {
	content: '';
	position: absolute;
	top: 0;
	left: -18px;
	height: 31px;
	width: 40px;
	border-top-left-radius: 3px;
	-webkit-transform: skewX(133deg);
	box-shadow: inset 1px 1px 0 #222;
	border: none;
}

ul.navigation li span {
	-webkit-transform: skewX(-30deg);
	display: inline-block;
}

ul.navigation li.active {
	z-index: 10;
	color: #bfbfbf;
	box-shadow: inset -1px 1px 0 #484848, 4px -4px 4px rgba(0, 0, 0, 0.1);
	border: none;
}

ul.navigation li.active, ul.navigation li.active:before {
	background-image: -webkit-linear-gradient(top, #343434, #222222);
	height: 32px;
}

ul.navigation li.active:before {
	box-shadow: inset 1px 1px 0 #444;
}

.navigation-bar {
	position: relative;
}

.tab-label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline;
}

.tab-close {
	display: inline-block;
	margin-left: 10px;
	margin-right: -20px;
	margin-top: -2px;
}

.tab-close-background{
	line-height: 30px;
	font-size: 20px;
	color: transparent;
	transition: color 0.1s ease-in;
}

.active .hover .tab-close-background {
	color: #b53f3c;
}

.hover .tab-close-background {
	color: #884443;
}

.tab-close-times{
	line-height: 30px;
	font-size: 12px;
	color: #444;
}

.active .tab-close-times{
	color: #505050;
}


.quick-action-container {
	position: absolute;
	top: 1px;
	right: 4px;
}

.quick-action {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	height: 30px;
	width: 30px;
	transition: color 0.1s ease-in;
	border-radius: 15px;
	color: #222;
	text-align: center;
	line-height: 32px;
	font-size: 18px;
	cursor: pointer;
}

.quick-action-background {
	color: #444;
}

.quick-action-icon {
	font-size: 16px;
}

.quick-action:hover {
	color: #bfbfbf;
}

.quick-action.add .fa-plus {
	line-height: 34px;
}

.quick-action.evaluate .fa-chevron-right {
	line-height: 34px;
	left: 1px;
}

.wrapper .main-block {
	position: absolute;
	background: #2b2b2b;
	margin: 0 2px 0 2px;
	border-radius: 0;
	top: 0;
	bottom: 0;
}

.wrapper .code-panel {
	border-bottom-right-radius: 6px;
	left: 304px;
	right: 0;
}

.wrapper {
	position: absolute;
	top: 46px;
	left: 2px;
	right: 2px;
	bottom: 4px;
}

.editor-wrapper {
	right: 150px;
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

/**
 *	CodeMirror
 */

.textarea-editor-holder {
	display: none;
}

.CodeMirror.cm-s-default {
	margin: 4px;
	background: #1e1e1e;
	color: #bfbfbf;

	font-family: 'Menlo', 'Lucida Grande', sans-serif;
	font-size: 14px;

	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	border-radius: 6px;
}

.CodeMirror-gutters {
	background: #191919;
	height: 100%;
	border-right: 1px dotted #313131;
	border-radius: 6px;
}

.CodeMirror div.CodeMirror-cursor {
	border-left: 2px solid #bfbfbf;
}

.CodeMirror-focused .CodeMirror-selected {
	background: #3c7cd4;
}

.CodeMirror-selected {
	background: #3c7cd4;
}

.CodeMirror-activeline-background {
	background: #191919;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background: #191919;
}

::-webkit-scrollbar-thumb:hover {
	background: #161616;
}

/*
 * Helpers
 */

#helpers-bar {
	border-bottom-left-radius: 6px;
	padding-right: 8px;
}

.helper.title {
	background: #1e1e1e;
	display: inline-block;
	height: 16px;
	padding: 10px 35px 10px 15px;
	font-size: 12px;
	text-align: left;
	margin-left: 8px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
	position: relative;
}

.helper.content {
	width: 284px;
	margin-left: 8px;
	height: auto;
	position: absolute;
	top: 36px;
	bottom: 0;
	background: #1e1e1e;
	border-radius: 0 6px 6px 6px;
	overflow: auto;
	color: #929292;
}

.helper-wrapper {
	margin-top: 8px;
	position: relative;
	border-radius: 6px;
	width: 292px;
	transition: height .4s;
}

.helper-wrapper.closed .title {
	border-radius: 6px;
	transition: border-radius .4s;
	transition-delay: .3s;
}

.helper-wrapper .content .hierarchy-subclass {
	padding: 2px 15px 0 23px;
}

.helper-wrapper .content > ul {
	padding: 8px;
	text-align: center;
}

.helper-wrapper .content ul li {
	display: block;
	text-align: left;
	outline: none;
	cursor: pointer;
}

.helper-wrapper .content ul li.hierarchy-nil {
	cursor: default;
}

.helper-wrapper .content ul li.hierarchy-icon {
	cursor: default;
}

.helper-wrapper .content ul li.hierarchy-item:focus {
	background: #0b374f;
	outline: 0;
}

a.hierarchy-item.current {
	display: block;
}

.helper-wrapper .content ul li.boxed {
	border: 1px solid #505050;
	display: inline-block;
	padding: 5px 15px;
}

.hierarchy-item.current:focus {
	outline: none;
	background: #0b374f;
	display: block;
}

.helper-wrapper .content ul li.boxed.hierarchy-box {
	padding: 5px 0;
}

.helper-wrapper .content ul li.hierarchy-icon:before {
	font-family: FontAwesome;
	font-style: normal;
	top: 10px;
	right: 15px;
	color: #505050;
	content: "\f062";
	display: block;
	text-align: center;
	margin: 5px 0;
}

.helper-wrapper .content .current {
	font-weight: bold;
	padding: 0 15px;
}

.helper-wrapper .content .current > * {
	font-weight: normal;
}

.helper-wrapper.closed .content ul {
	display: none;
}


.helper-icon {
	display: inline;
}

.helper-icon:before{
	position: absolute;
	font-size: 16px;
	font-family: FontAwesome;
	font-style: normal;
	top: 10px;
	right: 15px;
	content: "\f0d8";
}

.closed .helper-icon:before{
	position: absolute;
	font-family: FontAwesome;
	font-style: normal;
	top: 10px;
	right: 15px;
	content: "\f0d7";
}